<div class="container" >
    <div class="col-2">
    </div>
    <div class="col-12 text-center">
        <h2>Listado de Usuarios</h2>
        <table class="table table-dark " > 
            <thead>
              <tr>
                <th scope="col">C. usr</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Topico</th>
                <th scope="col">F. Nacimiento</th>
                <th scope="col">tipo</th>
                <th scope="col">N. Seguidores</th>
                <th scope="col">F. Creacion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of todosUsuarios; let indice = index;"> <!--iterando-->
                    <td>{{usuario.c_usuario}}</td>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.topico}}</td>
                    <td>{{usuario.f_nacimiento}}</td>
                    <td>{{usuario.tipo}}</td>
                    <td>{{usuario.n_seguidores}}</td>
                    <td>{{usuario.f_creacion}}</td>
                    <td>
                      <button class="btn btn-danger" (click)="eliminarUsuario(usuario , indice)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </button>
                    </td>
                </tr>
            </tbody>
          </table>
          <div *ngIf="!isLoaded">
            <h3> Cargando Usuarios...</h3>
        </div>  
    </div>
    <div class="col-2">
    </div>
</div>