<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 5rem;box-shadow: 0px 15px 20px 0px grey;">
    <div class="mx-auto">
        <img src="https://i.ibb.co/Rb7vp1L/logo.png" width="250" height="100"> 
    </div>
</nav>

<div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <app-login></app-login>
            </div>
            <div class="col-sm">
                <app-registro></app-registro>
            </div>
        </div>
</div>
