
  <div class ="mt-2" style="height: 85%;" >

    <div class="mb-3 bg-light" *ngFor="let comentario of comentarios; let indice = index;">
      <div class="row" style="min-height: 3rem;">
        <div class="col bg-light">
          {{ comentario.comentario }}
        </div>
      </div>
      <div class="row" style="max-height: 1rem;" >
        <div class="col bg-warning">
          <a *ngIf="this.ServicioUsuarios.usuarioActivo.c_usuario == comentario.c_usuario"  (click)="open(content,comentario.c_comentario, comentario.comentario, indice)" >
            Editar
          </a>
        </div>
        <div class="col bg-danger">
          <a *ngIf="this.ServicioUsuarios.usuarioActivo.c_usuario == comentario.c_usuario"  (click)="eliminarComentario(comentario.c_comentario, indice)">
            Eliminar
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="input-group" >
      <input type="text" class="form-control" placeholder="Comentario..." [(ngModel)]="nuevo_comentario">
      <div class="input-group-append">
        <button (click)="agregarComentario()" class="btn btn-outline-primary" type="button">Send</button>
      </div>
    </div>
  </div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar comentario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="form-group">
        <label for="comentaedita">Comentario</label>
        <div class="input-group" id="comentaedita">
          <textarea class="form-control" [(ngModel)]="editandoComentario"></textarea>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarEdicion()">Save</button>
  </div>
</ng-template>
