

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Comentario..." [(ngModel)]="nuevo_comentario">
    <div class="input-group-append">
      <button (click)="agregarComentario()" class="btn btn-outline-primary" type="button">Send</button>
    </div>
  </div>


<div class="alert alert-primary alert-dismissible fade show"*ngFor="let comentario of comentarios; let indice = index;">
  {{ comentario.comentario }}

    <button *ngIf="this.ServicioUsuarios.usuarioActivo.c_usuario == comentario.c_usuario" class="btn btn-primary" (click)="open(content,comentario.c_comentario, comentario.comentario, indice)">
      <span aria-hidden="true">E</span>
    </button>


    <button *ngIf="this.ServicioUsuarios.usuarioActivo.c_usuario == comentario.c_usuario" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarComentario(comentario.c_comentario, indice)">
      <span aria-hidden="true">X</span>
    </button>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar comentario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="form-group">
        <label for="comentaedita">Comentario</label>
        <div class="input-group" id="comentaedita">
          <textarea class="form-control" [(ngModel)]="editandoComentario"></textarea>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarEdicion()">Save</button>
  </div>
</ng-template>


<hr>

<pre>{{ closeResult }}</pre>

