<nav class="navbar navbar-expand-lg navbar-info bg-info">
    
    <a class="navbar-brand">
        <span class="navbar-text text-white">Moderación</span>
    </a>

    <button class="navbar-toggler" type="button" (click)="navbar2Collapsed = !navbar2Collapsed" [attr.aria-expanded]="!navbar2Collapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="navbar2Collapsed" id="navbarEncabezado">
      <ul class="navbar-nav ml-auto">
        
        <div class="row" *ngIf="tipo == 'ninguno'">No hay controles disponibles</div>

        <div class="row" *ngIf="tipo == 'publicacion'">
          <li class="nav-item mx-1">
              <button type="button" class="btn btn-danger" (click)="ver()">Ver publicacion actual</button>  
          </li>
  
          <li class="nav-item mx-1">
              <button type="button" class="btn btn-danger" (click)="marcarPublicacionRiesgosa()">Marcar riesgo</button>  
          </li>
        </div>

        <div class="row" *ngIf="tipo == 'perfil'">
          <li class="nav-item mx-1">
            <button type="button" class="btn btn-danger" (click)="asignarMembresiaCastigo()">Asignar membresía castigo</button>  
          </li>
          
          <li class="nav-item mx-1">
            <button type="button" class="btn btn-danger" (click)="asignarMembresiaEliminacion()">Asignar membresía eliminacion</button>  
          </li>
          
          <li class="nav-item mx-1">
            <button type="button" class="btn btn-danger" (click)="openAsignarCastigo(content)">Asignar castigo</button>  
          </li>

          <div class="row mx-1" *ngIf="ServicioUsuarios.usuarioActivo.tipo == 2">
            <li class="nav-item mx-1" *ngIf="usuario.tipo == 0">
              <button type="button" class="btn btn-danger" (click)="asignarModeracion()">Asignar Moderador</button>  
            </li>
            <li class="nav-item mx-1" *ngIf="usuario.tipo == 1">
              <button type="button" class="btn btn-danger" (click)="quitarModeracion()">Quitar Moderador</button>  
            </li>
          </div>
          
        </div>

        <!-- <li class="nav-item mx-1">
          <a type="button" class="btn btn-primary" routerLink="/inicio/publicaciones" >Publicaciones</a>
        </li>
        <li class="nav-item mx-1">
          <a type="button" class="btn btn-secondary" routerLink="/inicio/perfil/{{ usuario }}" >{{ this.ServicioUsuarios.usuarioActivo.id }}</a>
        </li> -->
        <!-- <li class="nav-item mx-1">
          <a type="button" class="btn btn-success" >Notificaciones</a>
        </li> -->
        <!-- <li  class="nav-item mx-1">
          <button type="button" class="btn btn-success" routerLink="/inicio/publicar">PUBLICAR</button>    
        </li>
        <li  class="nav-item mx-1">
          <button type="button" class="btn btn-danger" (click)="cerrar_sesion()">Cerrar Sesion</button>    
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Dropdown on Right</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action with a lot of text inside of an item</a>
          </div>
        </li> -->
      </ul>

    </div>

  </nav>


  <ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Asignar tiempo de castigo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
  
        <div class="form-group">
          <label for="tiempo">Minutos de castigo</label>
          <div class="input-group" id="tiempo">
            <input type="number" class="form-control" [(ngModel)]="tiempo">
          </div>
        </div>
  
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="asignarCastigo()">Castigar</button>
    </div>

  </ng-template>