

<div class="container mt-3">
    <div class="row align-items-center" *ngIf="!isForeign">
        <div class="col-4 text-center" style="border: 1px solid black">
            <img [src]="this.ServicioUsuario.usuarioActivo.l_foto" width="50%" height="50%" alt="">
        </div>
        
        <div class="col-8" style="border: 1px solid black">
            <h2>{{ this.ServicioUsuario.usuarioActivo.id }}<button class="btn btn-primary mx-5">Modificar perfil</button></h2>
            <h4 class= "font-weight-light">Descripcion</h4>
            <h2>"</h2>
            <p class= "font-weight-light"> {{ this.ServicioUsuario.usuarioActivo.descripcion }}</p>
            <h2>"</h2>
            <div class="row mt-3">
                <div class="col"> Seguidores: {{ this.ServicioUsuario.usuarioActivo.n_seguidores }}</div>
                <div class="col"> Publicaciones: {{ this.ServicioUsuario.usuarioActivo.n_publicaciones }}</div>
                <div class="col"> Seguidos: {{ this.ServicioUsuario.usuarioActivo.n_seguidos }} </div>
            </div>
        </div>
    </div>

    <div *ngIf="isForeign">
        <div class="row align-items-center" *ngIf="isUser else noexiste">
          <div class="col-4 text-center" style="border: 1px solid black">
              <img [src]="usuario.l_foto" width="50%" height="50%" alt="">
          </div>
          
          <div class="col-8" style="border: 1px solid black">
              <h2>{{ usuario.id }}</h2>
              <h4 class= "font-weight-light">Descripcion</h4>
              <h2>"</h2>
              <p class= "font-weight-light"> {{ usuario.descripcion }}</p>
              <h2>"</h2>
              <div class="row mt-3">
                  <div class="col"> Seguidores: {{ usuario.n_seguidores }}</div>
                  <div class="col"> Publicaciones: {{ usuario.n_publicaciones }}</div>
                  <div class="col"> Seguidos: {{ usuario.n_seguidos }} </div>
              </div>
          </div>
      </div>
    </div>
</div>

<div class="container" *ngIf="isForeign && isUser || !isForeign">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Publicaciones</h1>
    <hr class="mt-2 mb-5">

    <div *ngIf="publicacionesUsuario.length > 0 else nohay">
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6" *ngFor="let publicacion of publicacionesUsuario">
          <a [routerLink]="['/publicacion', publicacion.c_publicacion ]" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
          </a>
        </div>
      </div>
    </div>


    
  </div>


  <ng-template #nohay>
    <div class="text-center">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Aun no hay publicaciones</h1>
    </div>
  </ng-template>

  <ng-template #noexiste>
    <div class="text-center">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">No existe el usuario :(</h1>
    </div>
  </ng-template>
