<app-navegacion></app-navegacion>

<div class="container-fluid">
    <div class="row" style="margin-top:3rem;">
        <div class="col-2">
        </div>
        <div class="col-8" style="background-color: red; height: 500px;">

            <div class="row justify-content-center" style="background-color: rgb(43, 226, 226)"> 
                <div class="col">
                    <div class="text-center">
                        <app-publicacion-detalle></app-publicacion-detalle>
                    </div>
                </div> 
            </div>
            
            <div class="row justify-content-center" style="background-color: blueviolet"> 
                <div class="col-4 mx-auto">
                    <div class="text-center">
                        <button>LAIK</button>
                        <button>DISLAIK</button>
                        <button>SHARE</button>
                        <button>COMENT</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
        </div>
    </div>
</div>



